/* 

*/



/* tablets */
@media only screen and (max-width:768px) {

   /* header styles */
	header {	background: #12151b;	}
	header {	height: 60px; }
	header .logo {	margin: 24px 0 0 0; }
	header .logo a { margin-right: 0; }
	
	/* mobile navigation */
	#nav-wrap {
		z-index: 991;
		display: block;
		margin-top: 0;
		width: 100%;
		float: none;
		position: absolute;
		top: 0;
		right: 0;
	}
	#nav-wrap > a {
		background: #ff690000;
		/* border: 1px white solid; */
		border: none;
		color: white;
		height: 60px;
		min-width: 60px;
		font-size: 12px;
		text-align: left;
		float: right;
		padding: 0;
		position: relative;
	}
	#nav-wrap .menu-text {
		text-transform: uppercase;
		margin-right: 60px;
		padding-left: 20px;
		vertical-align: middle;
		line-height: 60px;
		display: none;
	}
	#nav-wrap .menu-icon {
		display: inline-block;
		width: 20px;
		height: 3px;
		margin-top: -3px;
		position: absolute;
		right: 20px;
		top: 50%;
		bottom: auto;
		left: auto;
		background: white;
	}
	#nav-wrap .menu-icon:before, 
	#nav-wrap .menu-icon:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: inherit;
		left: 0;
	}
	#nav-wrap .menu-icon:before {
		bottom: 6px;
	}
	#nav-wrap .menu-icon:after {
		top: 6px;
	}
	#nav-wrap ul#nav {
		background: #fdfdfd;
		padding: 54px 45px 60px 45px;
		margin: 0;
		height: auto;
		display: none;
		clear: both;
		width: 100%;
		float: none;
		position: relative;
		top: 0;
		right: 0;
	}
	#nav-wrap ul#nav > li {
		display: block;
		float: none;
		height: auto;
		text-align: left;
		border-bottom: 1px dotted #3b4558;
		padding: 6px 0;
	}
	#nav-wrap ul#nav > li:first-child {
		border-top: 1px dotted #3b4558;
	}
	#nav-wrap ul#nav li a {
		display: block;
		width: auto;
		padding: 0;
		padding: 12px 0;
		line-height: 16px;
		border: none;
		color:rgb(20, 20, 20)
	}
	#nav-wrap ul#nav li a:hover {
		color: white;
	}
	#nav-wrap ul#nav li.current > a {
		background: none;
		color: #f26522;
	}
	.js #nav-wrap a.mobile-btn {
		display: none;
	}
	.js #nav-wrap a#toggle-btn {
		display: block;
	}
	.no-js #nav-wrap:not(:target) > a:first-of-type, 
	.no-js #nav-wrap:target > a:last-of-type {
		display: block;
	}
	.no-js #nav-wrap:target ul#nav {
		display: block;
	}



	
	
	

} 




/* mobiles */
@media only screen and (max-width:600px) {

	/* content styles
	#content { padding-top: 48px;	}

	/* footer styles */
	/* footer .footer-about { padding-right: 10px; }
	footer .copyright { padding-left: 10px; } */

	/* common and shared styles */
	/*.section-head p {
		font: 16px/33px "merriweather-light", sans-serif;
	}
	.entry header h1 {
		font: 26px/33px "raleway-bold", sans-serif;
	} */

	/* hero section */
	#hero { padding-bottom: 66px;	}

	
}
 


@media only screen and (max-width:460px) {

	/*	footer styles */ 
	/* footer .right-cols .columns {
		width: 100% !important;
	} */

	

} /* 460 */



@media only screen and (max-width:400px) {

	/* footer styles */
	/* footer .footer-about { padding-right: 0; }
	footer .copyright { padding-left: 0; }

	 */


} /* 400 */


/* make sure the menu is visible on larger screens
-------------------------------------------------------------------------- */
@media only screen and (min-width:768px) {
	#nav-wrap ul#nav {
		display: block !important;
	}
}